Syntax ex1

In [1]:
print("Hello,World!")

Hello,World!

Syntax ex 2

In [3]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

Comments ex1

In [5]:
# This is a comment

Comments ex2

In [3]:
"""
This is a comment
written in 
more than just one line
"""

'\nThis is a comment\nwritten in \nmore than just one line\n'

Variables

In [4]:
carname="volvo"

Variables ex2

In [5]:
x=50

Variables ex3

In [6]:
x=5
y=10
print(x+y)

15

Variables ex4

In [8]:
x=5
y=10
z=x+y
print(z)

15

Variables ex5

In [9]:
myfirst_name = "John"

Variables ex6

In [10]:
x=y=z="Orange"

Variables ex7

In [12]:
def myfunc():
    global x
    x="fantastic"

Data_Types_ex1

In [15]:
x=5
print(type(x))
# int

<class 'int'>

Data_Types_ex2

In [16]:
x="Hello,World"
print(type(x))
# str

<class 'str'>

Data_Types_ex3

In [17]:
x=20.5
print(type(x))
# float

<class 'float'>

Data_Types_ex4

In [18]:
x = ["apple", "banana", "cherry"]
print(type(x))
# list

<class 'list'>

Data_Types_ex5

In [19]:
x = ("apple", "banana", "cherry")
print(type(x))
# tuple

<class 'tuple'>

Data_Types_ex6

In [20]:
x = {"name" : "John", "age" : 36}
print(type(x))
# dict

<class 'dict'>

Data_Types_ex7

In [21]:
x = True
print(type(x))
# bool

<class 'bool'>

Numbers ex1

In [22]:
x=5
x=float(x)

Numbers ex2

In [23]:
x=5.5
x=int(x)

Numbers ex3

In [24]:
x=5
x=complex(x)

Strings ex1

In [25]:
x = "Hello World"
print(x)

Hello World

Strings ex2

In [26]:
txt="Hello World"
x=txt[0]

Strings ex3

In [27]:
txt = "Hello World"
x = txt[2:5]

Strings ex4

In [28]:
txt = " Hello World "
x = txt.strip()

String ex5

In [29]:
txt = "Hello World"
txt = txt.upper()

String ex6

In [30]:
txt = "Hello World"
txt = txt.lower()

String ex7

In [31]:
txt = "Hello World"
txt = txt.replace("H","J")

String ex8

In [32]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36